*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.explore_ls{
    color: #71c6dd;
}
hr{
    /* color: aqua; */
    width: 90%;
    opacity: 0.2;
    margin-left: 10px;
    margin-bottom: 15px;
}
.main_container{
    width: 100%;
    height: 100%;
    margin-left: 26px;
}

.task_title{
    margin-left: 18px;
    font-size: 20px;
    padding-bottom: 20px;
}
.topic_name{
    color: #71c6dd;
}
.task_title i{
    margin-left: 18px;
    font-size: 20px;
    color: #e5e5e5;
    cursor: pointer;
}
.task_title i:hover{
    color: #71c6dd;
}
.task_video{
    display: flex;
    flex-wrap: wrap;
}
.video_card{
    background-color:#0b0c10;
    border-radius: 10px;
    height: 280px;
    margin-bottom: 30px;
    margin-inline: 12px;
    padding-bottom: 20px;
    width: 240px;
    box-shadow: 0 0 10px 1px #082a31;
    /* --border: 5px;   
    --slant: 0.7em;   
    --color: #17171fa4; 
    border: none;
    color: var(--color);
    background: 
        linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
        linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
    background-size: calc(var(--slant) + -1.7*var(--border)) calc(var(--slant) + -1.7*var(--border));
    background-repeat: no-repeat;
    transition: color var(--t,0.3s), background-size 0.3s; */
    transition: box-shadow 0.2s ease-in-out;
}
.video_card:hover{

    /* background-color: #3f4156b1; */
    box-shadow: 0 0 10px 1px #71c6dd;
    /* background-size: 100% 100%;
    color: black;
    --t: 0.2s 0.1s; */
}
.video_img{
    /* background-color: #71c6dd; */
    height: 140px;
    box-shadow: 0 1px 10px -3px black;
}
.video_img img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.video_title{
    padding-top: 20px;
    padding-bottom: 10px;
    color: #e5e5e5;
    padding-inline: 10px;
}
.video_desc{
    padding-inline: 10px;
    font-size: 13px;
    font-weight: 100;
    color: #b2bdbd;
}
.video_duration{
    /* background-color: #71c6dd; */
    /* color: #b2bdbd74; */
    padding-top: 10px;
    padding-inline: 10px;
    font-size: 13px;
}
.video_duration i{
    color: #dae1e1;
    /* background-color: #71c6dd; */
    padding-right: 5px;
}
.video_duration .clock{ 
    margin-left: 90px;
}

.eye{
    color: #b2bdbdb0;
}.clock{
    color: #b2bdbdb0;
}
.random_videos{
    margin-top: 20px;
}
.random_videos_container{
    display: flex;
    flex-wrap: wrap;
}
.random_title{
    margin-left: 18px;
    font-size: 20px;
    padding-bottom: 20px;
}
/* right sidebar */
