*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
a{
    text-decoration: none;
}
.cc{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* navbar */
.navbar{
    width: 100%;
    z-index: 10;
    position: fixed;
    background-color: #0b0c10;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 70px;
    box-shadow: 0 2px 10px -3px black;
}
.nav_logo{
    grid-column: 1/3;
    font-size: 20px;
    /* margin-left: 60px; */
    font-weight: 700;
}
.nav_user{
    display: flex;
    grid-column: 11/13;
    /* justify-content: space-evenly; */
}
.name{
    color: rgb(139, 139, 139);
}
.user_name{
    color: #71c6dd;
}
.user_img img{
    border-radius: 50px;
    filter: drop-shadow(0 0 3px black);
}



/* container */
.container{
    padding-top: 70px;
    height: 100vh;
    /* padding-top: 70px; */
    display: grid;
    grid-template-columns: 2fr 7fr 3fr;
    background-color: #2f303f;
}


/* left sidebar */
.left_sidebar{
    background-color:  #0b0c10;
    /* background-color:#3F4156; */
    /* box-shadow: 0 0 10px -5px black; */
    grid-column: 1/2;
    width: 16.5vw;
    height: 100%;
    top: 70px;
    position: fixed;
}
.ls_container{
    /* top: 800px; */
    /* background-color: #4a4c64; */
    position: sticky;
    padding-block: 15px;
    /* padding-left: 25px; */
    border-radius: 10px;
    /* margin-top: 10px; */
    /* margin-left: 30px; */
}
.ls{
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left: 55px;
    border-radius: 8px;
    margin-block:17px ;
    /* margin-bottom: 18px; */
    transition: color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    /* background-color:  #2f303f; */
}
.ls:hover{
   background-color:  #1f2833;
   color: #03e9f4;
}
/* main */
.main{
    height: 100%;
    padding-top: 30px;
    grid-column: 2/3;
    background-color: #0b0c10;
}
/* right sidebar */
.right_sidebar{
    position: relative;
    padding-top: 30px;
    height: 100%;
    /* padding-inline: 20px; */
    /* box-shadow: 0 0 10px -5px black; */
    background-color: #0b0c10;
    /* background-color:#3F4156; */
    grid-column: 3/4;
}
.hots{
    border-radius: 10px;
    padding-inline: 15px;
    padding-top:20px;
    margin-right:15px;
    /* border-radius: 10px;
    margin-right: 15px;
    padding-top:18px;
    padding-inline: 20px;
    margin-left: 0px; */
    background-color: #131d28;
}
.hot_container{
    margin-top: 15px;
}
.hot_content{
    cursor: pointer;
    padding-bottom: 20px;
    font-size: 15px;
}
.hot_head{
    color:  #71c6dd;
}
.hot_lines{
    color: #e5e5e5ab;
}
.hot_lines:hover{
    color: #e5e5e5;
}
/* .hot_title{
    margin-bottom: 6px;
} */
#right_sidebar_hr{
    opacity: 0.2;
    margin-bottom: 15px;
    margin-left: 0px;
}
 .blogs{margin-top: 20px;
    border-radius: 10px;
    padding-inline: 15px;
    padding-top:20px;
    margin-right:15px;
    /* border-radius: 10px;
    margin-right: 15px;
    padding-top:18px;
    margin-left: 15px;
    padding-inline: 20px; */
    background-color: #131d28;
}
.blog_container{
    margin-top: 15px;
}
.blog_content{
    cursor: pointer;
    padding-bottom: 20px;
    font-size: 15px;
}
.blog_head{
    color:  #71c6dd;
}
.blog_title{
    color: #e5e5e5;
    /* margin-bottom: 5px; */
}
.site_name {
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #e5e5e5ab;
}

.blog_desc{
    color: #e5e5e5ab;
}
.blog_content:hover .blog_desc{ 
    color: #e5e5e5;
}