<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlowState</title>
    <link rel="stylesheet" href="/css/fixed.css">
    <link rel="stylesheet" href="/css/explore.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav_logo cc">Flowstate</div>
            <div class="nav_user cc">
                <div class="user_img"><img src="/images/user_image.png" alt="" width="36px" height="36px"></div>
                    <div class="user">
                        <a class="name" href="#">Prabhakar Mishra</a><br>
                        <a class="user_name" href="#">@_p_mishra</a>
                    </div>
                <div class="dropdown_icon"><i class="fa-solid fa-caret-down"></i></div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="left_sidebar">
            <div class="ls_container">
                <a href="#"><div class="profile_ls ls">Profile</div></a>
                <a href="/templates/explore.html"><div class="explore_ls ls">Explore</div></a>
                <a href="/templates/community.html"><div class="community_ls ls">Community</div></a>
                <a href="/templates/task.html"><div class="task_ls ls">Task</div></a>
                <a href="#"><div class="notification_ls ls">Notifications</div></a>
                <a href="#"><div class="saved_ls ls">Saved</div></a>
                <a href="#"><div class="doubt_ls ls">Doubts</div></a>   
            </div>
        </div>
        <div class="main">
            <div class="main_container">
                <div class="task">
                    <div class="task_title"><span class="topic_name">Python</span><span><i id="1" onclick="hideModel(id)" class="fa-solid fa-caret-down"></i></span></div>
                    <div class="task_video" id="hide_div1">
                        <a href="#">
                            <div class="video_card">
                                <div class="video_img"><img src="/images/user_image.png" alt="" width="239px" height="140px"></div>
                                <div class="video_title">Django-The perfect course</div>
                                <hr>
                                <div class="video_desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus animi excepturi provident pariatur odit harum.</div>
                                <div class="video_duration">
                                    <span class="eye"><i class="fa-regular fa-eye"></i>12K</span>
                                    <span class="clock"><i class="fa-regular fa-clock"></i>1:2:56</span>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="video_card">
                                <div class="video_img"><img src="/images/user_image.png" alt="" width="239px" height="140px"></div>
                                <div class="video_title">Django-The perfect course</div>
                                <hr>
                                <div class="video_desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus animi excepturi provident pariatur odit harum.</div>
                                <div class="video_duration">
                                    <span class="eye"><i class="fa-regular fa-eye"></i>12K</span>
                                    <span class="clock"><i class="fa-regular fa-clock"></i>1:2:56</span>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="video_card">
                                <div class="video_img"><img src="/images/user_image.png" alt="" width="239px" height="140px"></div>
                                <div class="video_title">Django-The perfect course</div>
                                <hr>
                                <div class="video_desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus animi excepturi provident pariatur odit harum.</div>
                                <div class="video_duration">
                                    <span class="eye"><i class="fa-regular fa-eye"></i>12K</span>
                                    <span class="clock"><i class="fa-regular fa-clock"></i>1:2:56</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <hr>
                </div>
                <div class="task">
                    <div class="task_title"><span class="topic_name">Django</span><span><i id="2" onclick="hideModel(id)"  class="fa-solid fa-caret-down"></i></span></div>
                    <div class="task_video" id="hide_div2">
                        <a href="#">
                            <div class="video_card">
                                <div class="video_img"><img src="/images/user_image.png" alt="" width="239px" height="140px"></div>
                                <div class="video_title">Django-The perfect course</div>
                                <hr>
                                <div class="video_desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus animi excepturi provident pariatur odit harum.</div>
                                <div class="video_duration">
                                    <span class="eye"><i class="fa-regular fa-eye"></i>12K</span>
                                    <span class="clock"><i class="fa-regular fa-clock"></i>1:2:56</span>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="video_card">
                                <div class="video_img"><img src="/images/user_image.png" alt="" width="239px" height="140px"></div>
                                <div class="video_title">Django-The perfect course</div>
                                <hr>
                                <div class="video_desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus animi excepturi provident pariatur odit harum.</div>
                                <div class="video_duration">
                                    <span class="eye"><i class="fa-regular fa-eye"></i>12K</span>
                                    <span class="clock"><i class="fa-regular fa-clock"></i>1:2:56</span>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="video_card">
                                <div class="video_img"><img src="/images/user_image.png" alt="" width="239px" height="140px"></div>
                                <div class="video_title">Django-The perfect course</div>
                                <hr>
                                <div class="video_desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus animi excepturi provident pariatur odit harum.</div>
                                <div class="video_duration">
                                    <span class="eye"><i class="fa-regular fa-eye"></i>12K</span>
                                    <span class="clock"><i class="fa-regular fa-clock"></i>1:2:56</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <hr>
                </div>
                <div class="random_videos">
                    <div class="random_title">Other videos</div>
                    <div class="random_videos_container">
                        <a href="#">
                            <div class="video_card">
                                <div class="video_img"><img src="/images/user_image.png" alt="" width="239px" height="140px"></div>
                                <div class="video_title">Django-The perfect course</div>
                                <hr>
                                <div class="video_desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus animi excepturi provident pariatur odit harum.</div>
                                <div class="video_duration">
                                    <span class="eye"><i class="fa-regular fa-eye"></i>12K</span>
                                    <span class="clock"><i class="fa-regular fa-clock"></i>1:2:56</span>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="video_card">
                                <div class="video_img"><img src="/images/user_image.png" alt="" width="239px" height="140px"></div>
                                <div class="video_title">Django-The perfect course</div>
                                <hr>
                                <div class="video_desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus animi excepturi provident pariatur odit harum.</div>
                                <div class="video_duration">
                                    <span class="eye"><i class="fa-regular fa-eye"></i>12K</span>
                                    <span class="clock"><i class="fa-regular fa-clock"></i>1:2:56</span>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="video_card">
                                <div class="video_img"><img src="/images/user_image.png" alt="" width="239px" height="140px"></div>
                                <div class="video_title">Django-The perfect course</div>
                                <hr>
                                <div class="video_desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus animi excepturi provident pariatur odit harum.</div>
                                <div class="video_duration">
                                    <span class="eye"><i class="fa-regular fa-eye"></i>12K</span>
                                    <span class="clock"><i class="fa-regular fa-clock"></i>1:2:56</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_sidebar">
            <div class="hots">
                <div class="hot_head">Trending Hots</div>
                <div class="hot_container">
                    <a href="#">
                        <div class="hot_content">
                        <!-- <div class="hot_title">Hot Title</div> -->
                        <div class="hot_lines">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, molestiae.</div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="hot_content">
                        <!-- <div class="hot_title">Hot Title</div> -->
                        <div class="hot_lines">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, molestiae.</div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="hot_content">
                        <!-- <div class="hot_title">Hot Title</div> -->
                        <div class="hot_lines">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, molestiae.</div>
                        </div>
                    </a>
                </div>
            </div>
            <hr id="right_sidebar_hr">
            <div class="blogs">
                <div class="blog_head">Blogs</div>
                <div class="blog_container">
                    <a href="#">
                        <div class="blog_content">
                        <div class="blog_title">Blog Title</div>
                        <div class="site_name">www.geeksforgeeks.com</div>
                        <div class="blog_desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam assumenda tenetur vel corporis natus veritatis labore repellendus, maxime consequuntur culpa?</div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="blog_content">
                        <div class="blog_title">Blog Title</div>
                        <div class="site_name">www.geeksforgeeks.com</div>
                        <div class="blog_desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam assumenda tenetur vel corporis natus veritatis labore repellendus, maxime consequuntur culpa?</div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="blog_content">
                        <div class="blog_title">Blog Title</div>
                        <div class="site_name">www.geeksforgeeks.com</div>
                        <div class="blog_desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam assumenda tenetur vel corporis natus veritatis labore repellendus, maxime consequuntur culpa?</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>



<script src="https://kit.fontawesome.com/695f03e4fd.js" crossorigin="anonymous"></script>
<script src="/js/explore.js"></script>
</html>