<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlowState</title>
    <link rel="stylesheet" href="/frontend/css/first_vew.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="heading">What is FLowState ?</div>
            <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, debitis. Numquam non ab architecto illum impedit. Facilis sapiente, deserunt ullam ducimus minus reiciendis molestiae amet eligendi, incidunt sit nam facere beatae nisi laboriosam recusandae.</div>
            <div class="get_started">Get started</div>
        </div>
    </div>
    <div class="reg_box">
        <div class="reg_container">
            <div class="reg_head">Register</div>
            <div class="reg_input">
                <div class="fname_div input">
                    <label for="fname">First name</label><br>
                    <input id="fname" type="text" placeholder="First name" name="fname" required>
                </div>
                <div class="lname_div">
                    <label for="lname">Last name</label><br>
                    <input id="lname" type="text" placeholder="Last name" name="lname" required>
                </div>
                <div class="email_div">
                    <label for="email">Email ID</label><br>
                    <input id="email" type="email" placeholder="someone@gmail.com" name="email" required>
                </div>
                <div class="phone_div">
                    <label for="p_number">Phone number</label><br>
                    <input id="p_number" type="text" placeholder="Phone number" name="p_number" required>
                </div>
                <div class="gender_div">
                    <label for="gender">Gender</label><br>
                    <select id="gender" name="gender" id="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="custom">Custom</option>
                    </select>    
                </div>
                <div class="username_div">
                    <label for="uname">Username</label><br>
                    <input id="uname" type="text" placeholder="Password" name="uname" required>
                </div>
                <div class="dob_div">
                    <label for="dob">Date of Birth</label><br>
                    <input id="dob" type="date" placeholder="Date of Birth" name="dob" required>
                </div>
                <div class="first_pass">
                    <label for="password">Password</label><br>
                    <input id="password" type="password" placeholder="Password" name="password" required>
                </div>
                <div class="second_pass">
                    <label for="re_password">Re-enter Password</label><br>
                    <input id="re_password" type="password" placeholder="Re-enter Password" name="re_password" required>
                </div>
            </div>
            <div class="submit_div">
                <input id="submit" type="submit" placeholder="Submit" name="submit" required>                
            </div>
        </div>
    </div>
</body>
</html>